<div class="content col-lg-12 col-md-12 col-sm-12">
    <div class="card highlight-card card-small">
        <span>{{ title }}</span>
        <div class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="text" class="form-control" [(ngModel)]="searchFood" placeholder="Search for a Meal..."
                aria-label="Search for a Meal">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchFoodBtn();">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button (click)="refresh()" class="load-btn" data-toggle="tooltip" data-placement="top" title="Refresh">
                <i class="bi bi-recycle"></i></button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h2>{{foodDetails.strMeal}}</h2>
            </label>
            <span>
                <img src="{{foodDetails.strMealThumb}}" class="rounded mx-auto d-block dish-image" alt="...">
            </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Ingredients</h3>
            </label>

            <table>
                <tr *ngFor="let item of ingredients">
                    <td>{{item.ingredient}}</td>
                    <td>{{item.measure}}</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Preparing video</h3>
            </label>
            <div style="text-align: center;" *ngIf="safeSrc">
                <iframe class="dish-video" [src]="safeSrc" height="315" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Instructions</h3>
            </label>
            <div>
                <p>{{foodDetails.strInstructions}} </p>
            </div>
        </div>
    </div>
</div>