<div class="content col-lg-12 col-md-12 col-sm-12">
    <div class="card highlight-card card-small">
        <span>{{ title }}</span>
        <div class="input-group">
            <input type="text" class="form-control"  [(ngModel)] ="searchFood" placeholder="Search for a Meal..." aria-label="Search for a Meal">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchFoodBtn();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h2>{{foodDetails.strMeal}}</h2>
            </label>
            <span>
                <img src="{{foodDetails.strMealThumb}}"
                    class="rounded mx-auto d-block dish-image" alt="...">
            </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Ingredients</h3>
            </label>

            <table style="width: 100%;">
                <tr *ngFor="let item of ingredients">
                    <td>{{item.ingredient}}</td>
                    <td>{{item.measure}}</td>
                </tr>
                
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Preparing video</h3>
            </label>
            <div style="text-align: center;" *ngIf="safeSrc">
                <iframe class ="dish-video" [src]="safeSrc"  height="315" frameborder="0" ></iframe>
            </div>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 margin-bt">
            <label class="food-heading">
                <h3>Instructions</h3>
            </label>
            <div style="text-align: center;">
               <p>{{foodDetails.strInstructions}} </p>
            </div>
        </div>
    </div>
</div>