<div class="toolbar col-lg-12 col-md-12 col-sm-12">
  <img class="food-logo" alt="Food Logo" src="https://www.themealdb.com/images/logo-small.png" />
  <span>{{headerTitle}}</span>
  <div class="spacer"></div>
  <a aria-label="Food on twitter" target="_blank" rel="noopener" href="https://twitter.com" title="Twitter">
    <i class="bi bi-twitter"></i>
  </a>
  <a aria-label="Food on YouTube" target="_blank" rel="noopener" href="https://youtube.com/food" title="YouTube">
    <i class="bi bi-youtube"></i>
  </a>
</div>